/* Put your custom styles here and run `npm start` from the "src" directory on */

#TableOfContents ul li {
  margin-bottom: 1em;
}

.lh-copy blockquote {
  display: block;
  font-size: .875em;
  margin-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-left: 4px solid #ccc;
  padding-left: 1rem;

}

.nested-links a{
  overflow-wrap: break-word;
}

table {
  border-collapse: collapse;
  width: 100%;
}
td, th {
  border-top: 3px solid #0b385f;
  border-bottom: 3px solid #0b385f;
  border-left: 5px solid #0b385f;
  border-right: 5px solid #0b385f;
  padding: 0.6rem;
}

